body {
  font-family: 'Overpass', sans-serif;
  font-weight: normal;
  font-size: 100%;
  color: #1b262c;
  margin: 0;
  background-color: #99ccff
}

.Form {
  font-family: sans-serif;
  text-align: center;
}


.container{
  display: flex;
  width: 98%;
  background-color: white;
  justify-content: center;
  height: 400px;
  margin-top: 50px;
  margin-left: 15px;
  border-radius: 20px;
}

.slider{
  display: block;
  margin-top: 45px;
  width: 300px;

}

.cuestion {
  margin-top: 20px;
  height: 90px;
  display: flex;
  float: right;
  margin-right: 55px;
  
}

.cuestion p{
  margin: auto;
  text-align: center;
  justify-content: center;
  margin-top: 30px;
  font-size: 20px;
  font-family: Monserrat;
}